.divider {
    display: flex;
    margin-bottom: 20px;
}

.hr {
    border-style: solid;
    color: #DCDCDC;
    align-self: center;
    flex-grow: 1;
}

.btn {
    background-color: #854DFF;
    border: none;
    border-radius: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 600px) {
    .hr2 {
        display: none;
    }

    .divider {
        margin-bottom: 0;
    }
}